@*@model IEnumerable<EmployeeSignIn.Models.EmployeeDetails>*@

<h4>Badge Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="get" asp-action="GetReport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p style="position:relative">
                <div class="form-group">
                    <label for="StartDate" class="control-label">Start Date</label>&nbsp;&nbsp;
                    <input for="StartDate" type="date" name="StartDate" value="@DateTime.Today" min="1/1/1753" max="@DateTime.Today" style="width:13em;height:2.5em;" />

                    <label for="FirstName" class="control-label" style="position:absolute;left:24em; width:8em;height:2.4em">First Name</label>&nbsp;&nbsp;
                    <input for="FirstName" type="text" name="FirstName" value="@ViewBag.FirstName" style="width:13em;height:2.5em;position:absolute;left:30em;" />
                    @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
                </div>
            </p>

            <p style="margin-top:2.5em;position:relative">
                <div class="form-group">
                    <label for="EndDate" class="control-label">End Date</label>&nbsp;&nbsp;
                    <input for="EndDate" type="date" name="EndDate" value="@ViewBag.EndDate" style="width:13em;height:2.5em; position:relative" />&nbsp;&nbsp;
                    
                    <label for="LastName" class="control-label" style="position:absolute;left:24em; width:8em;height:2.4em">Last Name</label>&nbsp;&nbsp;
                    <input for="LastName" type="text" name="LastName" value="@ViewBag.LastName" style="width:13em;height:2.5em;position:absolute;left:30em;" />
                    <input type="submit" value="Submit" class="btn btn-primary" style="position:absolute;left:45em; width:8em;height:2.4em" />

            </p>



        </form>
    </div>
